body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background-color: #f2f2f2;
}

h1 {
  font-size: 40px;
  color: #3b3b3b;
  margin-top: 30px;
}

p {
  font-size: 20px;
  color: #3b3b3b;
  margin-bottom: 20px;
}

h2 {
  font-size: 30px;
  color: #3b3b3b;
  margin-top: 50px;
}

ul {
  list-style: none;
  font-size: 18px;
  color: #3b3b3b;
  margin-top: 20px;
  text-align: left;
}

li {
  margin-bottom: 10px;
}
